<div class="row row-cols-4">
    <div *ngFor="let val of carsForSale" class="col">
        <div class="card h-100" style="width: 18rem;">
            <img src={{val.image}} class="card-img-top" height=50% alt="...">
            <div class="card-body">
                <h5 class="card-title">{{val.model}}</h5>
                <p class="card-text">{{val.color}}</p>
                <p class="card-text">{{val.price}}</p>
                <a href="#" class="btn btn-primary">Purchase</a>
            </div>
        </div>

    </div>
</div>